<div class="advantages" id="advantages">
    <div class="blk_headline">Наши преимущества</div>
    <div class="our_advantages ">
        <div class="adv_block">
            <figure class="adv_pic_and_text">
                <p><img src="{{ asset('bundles/postroykaapp/images/advantages/Group 55.svg') }}"
                        alt="Весь товар сертифицирован"
                        title="Весь товар сертифицирован"/></p>
                <figcaption>Весь товар сертифицирован</figcaption>
            </figure>
        </div>
        <div class="adv_block">
            <figure class="adv_pic_and_text">
                <p><img src="{{ asset('bundles/postroykaapp/images/advantages/Group 56.svg') }}"
                        alt="Прямые поставки с заводов"
                        title="Прямые поставки с заводов"/></p>
                <figcaption>Прямые поставки с заводов</figcaption>
            </figure>
        </div>
        <div class="adv_block">
            <figure class="adv_pic_and_text _own_car_delivery">
                <p><img src="{{ asset('bundles/postroykaapp/images/advantages/Group 53.svg') }}"
                        alt="Быстрая доставка своими авто"
                        title="Быстрая доставка своими авто"/></p>
                <figcaption>Быстрая доставка своими авто</figcaption>
            </figure>
        </div>
        <div class="adv_block">
            <figure class="adv_pic_and_text">
                <p><img src="{{ asset('bundles/postroykaapp/images/advantages/Group 52.svg') }}"
                        alt="Выгодная система скидок"
                        title="Выгодная система скидок"/></p>
                <figcaption>Выгодная система скидок</figcaption>
            </figure>
        </div>
        <div class="adv_block">
            <figure class="adv_pic_and_text">
                <p><img src="{{ asset('bundles/postroykaapp/images/advantages/Group 50.svg') }}" alt="Опыт работы 12 лет"
                        title="Опыт работы 12 лет"/></p>
                <figcaption>Опыт работы 12 лет</figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="advantages_mob" id="advantages_mob">
    <div class="blk_headline">Наши преимущества</div>
    <div class="our_advantages_mob">
        <div class="adv_block_mob">
            <figure class="adv_pic_and_text_mob">
                <p><img src="{{ asset('bundles/postroykaapp/images/advantages/Group 56 (1).svg') }}"
                        alt="Прямые поставки с заводов"
                        title="Прямые поставки с заводов"/></p>
                <figcaption>Прямые поставки с заводов</figcaption>
            </figure>
        </div>
        <div class="adv_block_mob">
            <figure class="adv_pic_and_text_mob">
                <p><img src="{{ asset('bundles/postroykaapp/images/advantages/Group 55 (2).svg') }}"
                        alt="Быстрая доставка своими авто"
                        title="Быстрая доставка своими авто"/></p>
                <figcaption>Быстрая доставка своими авто</figcaption>
            </figure>
        </div>
        <div class="adv_block_mob">
            <figure class="adv_pic_and_text_mob">
                <p><img src="{{ asset('bundles/postroykaapp/images/advantages/Group 52 (1).svg') }}"
                        alt="Выгодная накопительная система скидок"
                        title="Выгодная накопительная система скидок"/></p>
                <figcaption>Выгодная накопительная система скидок</figcaption>
            </figure>
        </div>
        <div class="adv_block_mob">
            <figure class="adv_pic_and_text_mob">
                <p><img src="{{ asset('bundles/postroykaapp/images/advantages/Group 50 (1).svg') }}" alt="Успешный опыт работы более 12 лет"
                        title="Успешный опыт работы более 12 лет"/></p>
                <figcaption>Успешный опыт работы более 12 лет</figcaption>
            </figure>
        </div>
        <div class="adv_block_mob">
            <figure class="adv_pic_and_text_mob _adv-certificate">
                <p><img src="{{ asset('bundles/postroykaapp/images/advantages/Group 55 (1).svg') }}"
                        alt="Весь товар на складе сертифицирован"
                        title="Весь товар на складе сертифицирован"/></p>
                <figcaption>Весь товар </br> на складе сертифицирован</figcaption>
            </figure>
        </div>

    </div>
</div>
