{% extends 'PostroykaManagerBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ user.username }}</h1>

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="block-actions">
            <button type="submit" class="btn btn-main">{{ 'control.save' | trans }}</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}