{% extends 'form_div_layout.html.twig' %}


{% block form_row %}
    {% set type = form.vars.block_prefixes.1|default('') %}

    {% spaceless %}
        <div class="control-row">
            {# Checkbox #}
            {% if type in ['checkbox'] %}
                <div class="control-widget">
                    {{ form_widget(form) }}
                    {{ form_label(form) }}
                    {{ form_errors(form) }}
                </div>
            {% else %}
                <div class="control-label">
                    {{ form_label(form) }}

                    {% if required %}
                        <span class="control-required">*</span>
                    {% endif %}
                </div>

                <div class="control-widget">
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
