{% extends '@PostroykaApp/base.html.twig' %}

{% block headline %}
    {% set prices = products | map(product => product.price ) %}

    <div class="page_headline">
        <h1 itemprop="name">{% block title %}
                {{ page.value('h1')|default(page.title) }}
            {% endblock %}
        </h1>
        <meta itemprop="openingHours" content="Mo-Su">
        <meta itemprop="logo" content="https://www.postroyka.by/bundles/postroykaapp/images/logo_5.svg">
        <meta itemprop="image" content="https://www.postroyka.by/bundles/postroykaapp/images/logo_5.svg">
        <meta itemprop="url" content="{{ app.request.uri }}">
        <meta itemprop="priceRange" content="{{ min(prices) }} - {{ max(prices) }} руб.">

        <div itemscope="" itemprop="address" itemtype="https://schema.org/PostalAddress">
            <meta itemprop="addressCountry" content="by">
            <meta itemprop="addressLocality" content="Минск">
        </div>

        <div class="btn-filter-catalog_blk orange_btn">Фильтр</div>
    </div>
    <div class="sub_headline"></div>
{% endblock %}


{% block content %}
    <div class="wrapper-filter-catalog_blk {% if page.value('hide_filter') and seo_groups|length > 0 or not filter and seo_groups|length > 0%}withoutFilter {% if seo_groups|length > 0 and filter and page.value('hide_filter') %}else{% endif %}{% elseif not filter or page.value('hide_filter') and filter and seo_groups|length == 0 %} price-sort_only withoutFilter {% if seo_groups|length == 0 and filter and page.value('hide_filter') %}else{% endif %}{% else %}else{% endif %}">
        <div class="filter_seo_block {% if page.value('hide_filter') and seo_groups|length > 0 or not filter and seo_groups|length > 0%}withoutFilter{% elseif not filter or page.value('hide_filter') and filter and seo_groups|length == 0%} price-sort_only withoutFilter{% endif %}">
            <div class="left-part {% if page.value('hide_filter') and seo_groups|length > 0 or not filter and seo_groups|length > 0%} withoutFilter{% endif %}">
                {{ include('@PostroykaApp/Pages/_filter.html.twig') }}

                {% if seo_groups %}
                    <div class="seo-catalog_blk {% if page.value('hide_filter') and seo_groups|length > 0 or not filter and seo_groups|length > 0 %} withoutFilter{% endif %}">
                        <div class="blk_body">
                            {% for seo_group in seo_groups %}

                                {% set continue = true %}

                                {% if seo_group.url == '/gipsokarton/borovlyany/' %} {% set continue = false %} {% endif %}
                                {% if seo_group.url == '/gipsokarton/gatovo/' %} {% set continue = false %} {% endif %}
                                {% if seo_group.url == '/gipsokarton/kolodishhi/' %} {% set continue = false %} {% endif %}

                                {% if continue %}

                                    <a href="{{ link(seo_group.url) }}">{{ seo_group.title }}</a>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="right-part {% if page.value('hide_filter') and seo_groups|length > 0 or not filter and seo_groups|length > 0%} withoutFilter {% elseif not filter or page.value('hide_filter') and filter and seo_groups|length == 0%} price-sort_only withoutFilter{% endif %}">
                <div class="col_">
                    <a href="#" class="price_sort"><span class="text">По цене</span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="products_blk">
        <div class="_catalog mini_catalog">
            <div class="_row">
                {% for product in products %}
                    {{ include('@PostroykaApp/Pages/_product_item.html.twig', {'list': 'Каталог', 'position': loop.index}) }}
                {% else %}
                    <div class="col_">
                        <div class="confirm_blk">
                            <span class="_ico-warning"></span>
                            Товары не найдены
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if seo_down_groups %}
        <div class="seo-catalog_blk {% if page.value('hide_filter') and seo_groups|length > 0 or not filter and seo_groups|length > 0 %} withoutFilter{% endif %}" style="margin-top: 25px">
            <div class="blk_body">
                {% for seo_group in seo_down_groups %}

                    {% set continue = true %}

                    {% if seo_group.url == '/gipsokarton/borovlyany/' %} {% set continue = false %} {% endif %}
                    {% if seo_group.url == '/gipsokarton/gatovo/' %} {% set continue = false %} {% endif %}
                    {% if seo_group.url == '/gipsokarton/kolodishhi/' %} {% set continue = false %} {% endif %}

                    {% if continue %}

                        <a href="{{ link(seo_group.url) }}">{{ seo_group.title }}</a>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if page.value('block_not_found') %}
        {{ render(controller('PostroykaAppBundle:Block:notFound', {'request': app.request})) }}
    {% endif %}

    {{ include('@PostroykaApp/Pages/_block-of-reviews.html.twig') }}


    {% if page.body %}
        <div class="body_blk"{% if page.value('master_secrets') %} id="master-secrets"{% endif %}>
            {{ page.body|raw }}
        </div>
    {% endif %}

    {% if cheap|default %}
        {{ include('@PostroykaApp/Pages/_min_price_table.html.twig') }}
    {% endif %}

        {{ include('@PostroykaApp/Pages/_calc_result.html.twig') }}

{% endblock %}


{% block gtm_header %}
    {{ parent() }}

    {{ include('@PostroykaApp/_gtm_impressions.html.twig', {'products': products, 'list': 'Каталог'}) }}
{% endblock %}

